.tombol {
	background-color: skyblue;
	font-size: 25px;
	font-family: cursive;
	border-radius: 20px;
	color: whitesmoke;
	height: 50px;
	width: 400px;
	margin: 0 auto;
}

.hasil {
	color: darkred;
	font-size: 50px;
	background-color: whitesmoke;
	font-family: monospace;
}

#daftar {
	background-color: skyblue;
	font-size: 15px;
	font-family: cursive;
	border-radius: 20px;
	color: whitesmoke;
	height: 40px;
	width: 200px;
	margin: 0 auto;

}

.pendaftaran {
	text-align: center;
	margin-top: 20px;
}

#pendaftaran_lomba {
	display: none;
}

.jumbotron {
	background-image: url(image/3.jpg);
	background-size: cover;
	height: 900px;
	margin-top: -50px;
}

.jumbotron .container {
	margin-top: 150px;
	border-radius: 49px;
	background: linear-gradient(145deg, #bcbcbc, #e0e0e0);
	box-shadow:  41px 41px 82px #888888,
             -41px -41px 82px #ffffff;
    padding: 100px;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}




/*tampilan hp*/
/*@media (max-width: 600px) {
	button {
		display: none;
	}
}

@media (min-width: 700px) and (max-width: 900px) {
	body {
		background-color: mediumpurple;
		background-image: none !important;
		color: whitesmoke;
		font-family: cursive;
	}
	.writing {
		background-color: rebeccapurple;
	}
	button {
		background-color: whitesmoke !important;
		color: red !important;
	}
	h1 {
		background-color: whitesmoke !important;
		color: red !important;
		font-family: monospace;
	}
}*/